#main {
	margin: 100px;
}

.pager {
	padding: 10px 10px 10px 0;
	clear: both;
}

.inativo {
	color: gray;
}

#main .navlist ul {
    margin: 0;
    white-space: nowrap;
    padding: 0;
}

.mode-horizontal .navlist li {
    float: left;
    list-style-type: none;
	padding: 5px 1px;
	width: 80px;
}

.mode-vertical .navlist li {
	padding: 5px;
}

#main .navlist a {
    padding: 1px 8px 1px 24px;
    border: 1px solid #333;
    background-color: #999;
    background-image: url(images/l1_down.gif);
}

#main .navlist a:link, #main .navlist a:visited {
    color: #EEE;
    text-decoration: none;
}

#main .navlist a:hover {
    border: 1px solid #333;
    background-color: #FF6600;
    background-image: url(images/l1_over.gif);
    color: #333;
}

#main .active a:link, #main .active a:visited, #main .active a:hover {
    border: 1px solid #333;
    background-color: #FF6600;
    color: #333;
}