/* ---- grid ---- */
#doc {text-align:center;width:100%;}
.conteudo {margin:0 auto !important;width:80em;text-align:left;}

/* ---- clear ---- */
.bloco {overflow:auto;width:100%;}

/* ---- units ---- */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {display:inline;float:left;margin:0 .833em;}
.grid-1 {min-width:60px;width:5em;}
.grid-2 {min-width:140px;width:11.665em;}
.grid-3 {min-width:220px;width:18.333em;}
.grid-4 {min-width:300px;width:25em;}
.grid-5 {min-width:380px;width:31.665em;}
.grid-6 {min-width:460px;width:38.333em;}
.grid-7 {min-width:540px;width:45em;}
.grid-8 {min-width:620px;width:51.665em;}
.grid-9 {min-width:700px;width:58.333em;}
.grid-10 {min-width:780px;width:65em;}
.grid-11 {min-width:860px;width:71.665em;}
.grid-12 {min-width:940px;width:78.333em;}

.primeiro {margin-left: 0;}
.ultimo {margin-right: 0;}