/* ---- reset 0.3 ---- */
* {background:transparent;font-family:inherit;font-size:100%;margin:0;outline:0;padding:0;}
body {background:#fff;line-height:1;}
table {border-collapse:collapse;border-spacing:0;}
legend,hr {display:none;}
li {list-style:none;}
a {text-decoration:none;}
caption,th {text-align:left;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
blockquote,q {quotes:"" "";}
abbr,acronym,img,fieldset {border:0;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}

/* ---- fonts 0.3 ---- */
html {font:x-small arial,helvetica,freesans,sans-serif;*font-size:1.25ex;}
body {font-size:1.2em;}
select, input, textarea {font:0.99em arial,helvetica,clean,sans-serif;}